<div class="main-slider">
    <div class="container">
        <div class="slider">
            <div class="slide">
                <div class="slide__description">
                    <span class="slide__title-up block-title__up">your</span>
                    <span class="slide__title">Beautiful Escape</span>
                    <p class="slide__text">
                        One of the greatest things about the sport of surfing is that you need only three things: your body, 
                        a surfboard, and a wave.
                    </p>
                </div>
                <div class="slide__img">
                    <img src="img/img.png">
                </div>
            </div>
        </div>
    </div>
</div>